@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-aeonik;

  font-size: 20px;
}

body {
  background-color: #fff; /*#035962;*/
  /*color: #212121;*/
  font-size: .8rem;
  color: #1c1c1c;
}

.page-root {
  @apply min-h-screen grid;
  grid-template-rows: auto 1fr auto;
}

a {
  text-decoration: underline;
  text-underline-position: under;

  &[target="_blank"]{
    &:after{
      content: " ↗";
    }
  }

  &:hover {
    text-decoration: none;
  }
}

@layer base{
  .row {
    @apply grid grid-cols-12 gap-col;
  }

  .card{
    @apply rounded-xl bg-gray-100;

    &:not(.\--no-padding){
      @apply p-col;
    }
  }
}